**/bin
**/obj
**/node_modules
**/dist
**/.vs
**/.vscode
**/.idea
**/*.user
**/coverage
**/.git
**/.github
**/.azure
**/*.md
**/.DS_Store
**/Thumbs.db
**/test-*.pdf
**/*.local.json
**/.env
**/.env.local
